<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
        <meta name="sharecontent" data-msg-img={{ url_for('static',filename="image/news.jpg" , _scheme='https',_external=True) }} data-msg-title="看新闻学英语"
              data-msg-content="看新闻学英语，无障碍看英语新闻，点击单词即可查询中文解释。--小布子英语频道" data-msg-callBack="" data-line-img={{ url_for('static',filename="image/news.jpg", _scheme='https',_external=True ) }}
                      data-line-title="看新闻学英语" data-line-callBack=""/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="description" content="看新闻学英语，无障碍看英语新闻，点击单词即可查询中文解释。问题反馈请加微信号 --小布子英语频道">
        <meta name="keywords"
              content="english news 英语学习 英语新闻">
        <meta name="author" content="微信:fredliu168168">
        <meta name="author" content="www.qzcool.com">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="//unpkg.com/element-ui/lib/theme-default/index.css">
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <link rel="stylesheet" href={{ url_for('static',filename='css/loading.css') }}>
        <link rel="icon" type="image/png" href={{ url_for('static',filename="image/news.jpg", _scheme='https', _external=True ) }}>

        <title>{% block title %}{% endblock %} - 英语阅读吧</title>
    {% endblock %}
</head>

<body>
<div style='margin:0 auto;display:none;'>
<img src={{ url_for('static',filename="image/news.jpg",_scheme='https', _external=True ) }} />
</div>
{% block body %}
{% endblock %}
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262217026'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1262217026%26online%3D2' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
{% block script %}

    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- 先引入 Vue -->
    <script type="text/javascript" src={{ url_for('static',filename="node_modules/vue/dist/vue.min.js" ) }}></script>
    <!-- 引入组件库 -->
    <script src="//unpkg.com/element-ui/lib/index.js"></script>
    <script src= {{ url_for('static',filename="js/ajax-helper.js" ) }}></script>
{% endblock %}
</html>